@page
@model VideoGameGrade.Pages.AccountModel

<div class="text-center">
<h2>Account Settings</h2>
<h4>Change Password</h4>
</div>
<form method="post" asp-page-handler="ChangePassword" class="form-custom">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="ChangePasswordModel.OldPassword">Current Password</label>
        <input asp-for="ChangePasswordModel.OldPassword" class="form-control" type="password" />
        <span asp-validation-for="ChangePasswordModel.OldPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ChangePasswordModel.NewPassword">New Password</label>
        <input asp-for="ChangePasswordModel.NewPassword" class="form-control" type="password" />
        <span asp-validation-for="ChangePasswordModel.NewPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ChangePasswordModel.ConfirmPassword">Confirm New Password</label>
        <input asp-for="ChangePasswordModel.ConfirmPassword" class="form-control" type="password" />
        <span asp-validation-for="ChangePasswordModel.ConfirmPassword" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Update Password</button>
</form>

<h4>Personal Information</h4>

<p>Email: @Model.UserEmail</p>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}