@page
@model VideoGameGrade.Pages.ContactUsModel
@{
    ViewData["Title"] = "Report a Problem";
}

<div class="text-center">
    <h1 class="display-4">Contact Us</h1>
    <p>Have questions, complaints, or comments?  Let us know.</p>
</div>
