@page
@model VideoGameGrade.Pages.ContactUsConfirmationModel
@{
    ViewData["Title"] = "Message Received";
}

<div class="centered-shaded-background">
    <h1 class="display-4 pt-3">Thank You!</h1>
    <p>Your message has been sent successfully. We appreciate your input and will be in touch if necessary.</p>
    <a class="btn btn-primary btn-md m-2 text-white" href="/">Return to Home</a>
</div>