@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

@{
    var errorMessage = TempData["ErrorMessage"] as string;
}

@if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="alert alert-danger" role="alert">
        @errorMessage
    </div>
    <h2><a class="btn btn-outline-primary btn-sm" href="/Login">Login in here</a></h2>
}

