@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

@{
    var errorMessage = TempData["ErrorMessage"] as string;
}

@if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="centered-shaded-background">
        <h1 class="display-4 pt-3">@errorMessage</h1>
        <a class="btn btn-outline-warning m-2" href="/Login">Login</a>
    </div>
}

