@page
@model VideoGameGrade.Pages.GalleryModel
@{
    ViewData["Title"] = "Game Graders Review";
}

<div class="text-center">
    <h1 class="display-4">Check out our Gallery</h1>
    <p>Here we have our favorite classic games.</p>
</div>
