@page
@model IndexModel
@{
    ViewData["Title"] = "Game Graders!";
}

<div class="text-center" style="color: white">
    
    <h1 class="display-4">Welcome to Video Game Grade</h1>
    <p>Welcome Video Game Graders.  This is a website dedicated to celebrating our favorite games by rating them and participating in trivia games.  You can even add your own games into our database with your own questions for others to answer!</a></p>
</div>
