@page
@model IndexModel
@{
    ViewData["Title"] = "Game Graders!";
}

<div class="index-centered-shaded-background">
    
    <h1 class="display-4 mt-0 pt-3">Welcome to Video Game Grade</h1>
    <p class="h4 p-3">Welcome video game graders, Video Game Grade a website dedicated to celebrating our favorite games by rating them, adding tips or tricks, and participating in trivia questions.  You can even add your own games into our database with your own tips/tricks or trivia questions!</p>
</div>
