@page
@model IndexModel
@{
    ViewData["Title"] = "Game Graders!";
}

<div class="index-centered-shaded-background">
    
    <h1 class="display-4 mt-0 pt-3">Welcome to Video Game Grade</h1>
    <p class="h4 p-3">Welcome video game graders, Video Game Grade a website dedicated to celebrating our favorite games by rating them, adding tips or tricks, and participating in trivia questions.  You can even add your own games into our database with your own tips/tricks or trivia questions!</p>   
    <p class="h4 p-3">To learn more <a class="btn btn-warning btn-sm m-2" href="/Login">Login</a> or <a class="btn btn-warning btn-sm m-2" href="/Register">Register</a></p>
    <p class="h4 p-3">If you just want to browse, then check out our <a class="btn btn-primary btn-sm m-2" href="/GameCollection">Games</a></p>
    <div class="text-white text-center">
        <p class="h4 p-3">Or you can take a <button class="btn btn-primary btn-sm m-2" id="openVideoBtn">Tour</button></p>
    </div>
</div>



<div id="videoPopup" class="popup">
    <div class="popup-content">
        <span id="closePopupBtn" class="close">&times;</span>
        <video id="videoPlayer" controls>
            <source src="https://cs710032001ea63f0a3.blob.core.windows.net/images/VideoGameGradeIntroduction.mp4" type="video/mp4">
        </video>
    </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', () => {
    const openVideoBtn = document.getElementById('openVideoBtn');
    const videoPopup = document.getElementById('videoPopup');
    const closePopupBtn = document.getElementById('closePopupBtn');
    const videoPlayer = document.getElementById('videoPlayer');

    openVideoBtn.addEventListener('click', () => {
        videoPopup.style.display = 'flex';
        videoPlayer.play();
    });

    closePopupBtn.addEventListener('click', () => {
        videoPopup.style.display = 'none';
        videoPlayer.pause();
        videoPlayer.currentTime = 0;
    });

    window.addEventListener('click', (event) => {
        if (event.target === videoPopup) {
            videoPopup.style.display = 'none';
            videoPlayer.pause();
            videoPlayer.currentTime = 0;
        }
    });
});
</script>