@page
@model IndexModel
@{
    ViewData["Title"] = "Game Graders!";
}

<div class="index-centered-shaded-background">
    
    <h1 class="display-4">Welcome to Video Game Grade</h1>
    <p class="h4 p-3">Welcome Video Game Graders, this is a website dedicated to celebrating our favorite games by rating them and participating in trivia questions.  You can even add your own games into our database with your own trivia questions for others to answer!</p>
</div>
