@page
@model LogoutModel
<style>
    .center {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
</style>

<div class="center">
    <img src="/images/Luigi.jpg" alt="Angry italian man">
</div>
