@page
@model VideoGameGrade.Pages.ProfileModel
@{
    ViewData["Title"] = "Customize your space";
}

<div class="text-center">
    <h1 class="display-4">Join the Game Graders</h1>
    <p>Come discuss your favorite or classic games.</p>
</div>