@page
@model VideoGameGrade.Pages.RegisterModel
<div class="div-contact-background">
    <form method="post" asp-antiforgery="true" class="form-custom">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <br />
            <input asp-for="Input.Email" placeholder="Email: " class="form-control" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <br />
            <input asp-for="Input.Password" placeholder="Password: " class="form-control" type="password" />
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <br />
            <input asp-for="Input.ConfirmPassword" placeholder="ConfirmPassword: " class="form-control" type="password" />
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary mt-3 m-2">Register</button>
    </form>
</div>