html {
    font-size: 14px;
}

body {
    background-image: url("https://cs710032001ea63f0a3.blob.core.windows.net/images/kisspng-video-game-game-controller-joystick-online-game-vector-gamepad-5a7166f1d5b6b1.8005384115173813618754.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.shaded-background {
    background-color: rgba(0, 0, 0, 0.85);
    color: #FFFFFF;
}

.index-centered-shaded-background {
    background-color: rgba(0, 0, 0, 0.65);
    text-align: center;
    color: #FFFFFF;
}

.centered-shaded-background {
    background-color: rgba(0, 0, 0, 0.85);
    text-align: center;
    color: #FFFFFF;
}

.rate-text-color {
    color: #00FF00;
    text-align: center;
}

.centered-background {
    text-align: center;
    color: #FFFFFF;
}

.popup {
    display: none;
    position: fixed;
    background-color: rgba(0,0,0,0) !important;
    justify-content: center;
    align-items: center;
    top: 18%;
}

.popup-content {
    background-color: red;
    width: 65%;
    height: 65%;
    padding: 5%;
    border-radius: 5%;
    margin-left: 25%;
    position: relative;
}

.close {
    position: absolute;
    top: -16px !important;
    right: 5px !important;
    font-size: 55px;
    cursor: pointer;
}

video {
    width: 100%;
    height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
    video {
        max-width: 96%;
    }
    .popup-content {
        width: 75%; 
        height: 75%;
        padding: 5%; 
        margin-left: auto; 
        margin-right: auto; 
    }

    .close {
        top: -25px;
        right: -4px;
        font-size: 45px;
    }

    .popup-content {
        background-color: red;
        padding: 15px;
        border-radius: 10px;
        position: relative;
    }
}

  
.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.contact-form {
    max-width: 400px;
    margin: 0 auto;
}

.contact-form .form-group {
    margin-bottom: 20px;
}

.form-custom {
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 20px;
}
@media screen and (max-width: 500px) {
    .hide-category {
        display: none;
    }
    .label1 {
        text-align: center;
        min-width: 360px;
    }
    .label2 {
        display: none;
    }
    .pic {
        max-width: 90%;
    }
    .popup-content {
        width: 85%;
        height: 85%;
        padding: 5.5% !important;
        margin-left: auto;
        margin-right: auto;
    }

    .close {
        top: -23px !important;
        right: -5.8px !important;
        font-size: 35px;
    }

    video {
        width: 100%; 
        height: auto;
    }
}

@media (max-width: 768px) {
    .popup-content {
        width: 75%;
        height: 75%;
        padding: 4%;
        margin-left: auto; 
        margin-right: auto;
    }

    .close {
        top: -19.6px !important;
        right: -4.9px !important;
        font-size: 40px;
    }
}


.correctAnswer{
    color:green;
}
.wrongAnswer{
    color:red;
}