html {
    font-size: 14px;
}

body {
    background-image: url("https://cs710032001ea63f0a3.blob.core.windows.net/images/kisspng-video-game-game-controller-joystick-online-game-vector-gamepad-5a7166f1d5b6b1.8005384115173813618754.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.shaded-background {
    background-color: rgba(0, 0, 0, 0.85);
    color: #FFFFFF;
}

.index-centered-shaded-background {
    background-color: rgba(0, 0, 0, 0.65);
    text-align: center;
    color: #FFFFFF;
}

.centered-shaded-background {
    background-color: rgba(0, 0, 0, 0.85);
    text-align: center;
    color: #FFFFFF;
}

.rate-text-color {
    color: #00FF00;
    text-align: center;
}

.centered-background {
    text-align: center;
    color: #FFFFFF;
}

.popup {
    display: none;
    position: fixed;
    top: 40px;
    left: 90px;
    width: 80%;
    height: 80%;
    background-color: rgba(0,0,0,0);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: red;
    padding: 10px;
    border-radius: 10px;
    position: relative;
}

.close {
    position: absolute;
    top: -20px;
    right: 9px;
    font-size: 55px;
    cursor: pointer;
}

video {
    width: 100%;
    max-width: 600px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
    video {
        max-width: 96%;
    }
    .popup {
        display: none;
        position: fixed;
        top: 60px;
        left: 30px;
        width: 80%;
        height: 80%;
        background-color: rgba(0,0,0,0.5);
        justify-content: center;
        align-items: center;
    }

    .close {
        position: absolute;
        top: -20px;
        right: 1px;
        font-size: 55px;
        cursor: pointer;
    }

    .popup-content {
        background-color: red;
        padding: 15px;
        border-radius: 10px;
        position: relative;
    }
}

  
.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.contact-form {
    max-width: 400px;
    margin: 0 auto;
}

.contact-form .form-group {
    margin-bottom: 20px;
}

.form-custom {
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 20px;
}
@media screen and (max-width: 500px) {
    .hide-category {
        display: none;
    }
    .label1 {
        text-align: center;
        min-width: 360px;
    }
    .label2 {
        display: none;
    }
    .pic {
        max-width: 90%;
    }
    video {
        max-width: 90%;
    }
    .popup {
        display: none;
        position: fixed;
        top: 380px;
        left: 30px;
        width: 80%;
        height: 20%;
        background-color: rgba(0,0,0,0.5);
        justify-content: center;
        align-items: center;
    }

    .close {
        position: absolute;
        top: -20px;
        right: 1px;
        font-size: 55px;
        cursor: pointer;
    }
}

.correctAnswer{
    color:green;
}
.wrongAnswer{
    color:red;
}