<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VideoGameGrade</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/VideoGameGrade.styles.css" asp-append-version="true" />
</head>
<body id="body" style="background-color: #26262C">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3" id="nav" style="background-color: #343a40;">
            <div class="container">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse d-flex flex-row d-sm-inline-flex flex-grow-1 justify-content-between" id="nav">
                    <ul class="navbar-nav d-flex flex-row flex-grow-1 justify-content-evenly">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-page="/GameCollection">Game Collection</a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-page="/Account">Account</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-page="/AboutUs">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-page="/ContactUs">Contact Us</a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <form asp-page="/Logout" method="post">
                                    <button type="submit" class="nav-link btn btn-link text-white" style="background-color: transparent; border: none;">Logout</button>
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-page="/Login">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-page="/Register">Register</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container" style="background-color:transparent">
        <main role="main" class="pb-3" style="background-color: transparent">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <form asp-page="/GameCollection" method="get" class="d-flex align-items-center">
                        <input name="searchGame" class="form-control form-control-sm me-2 text-white" type="text" placeholder="Search by title, publisher, platform, category or leave it empty to see all games." />
                        <button class="btn btn-primary btn-sm m-2 text-white" type="submit">Search</button>
                    </form>
                    <br />
                </div>
            </div>
            @RenderBody()
        </main>
    </div>



    <div style="max-width: 300px; max-height: 300px; overflow: hidden; display: block">
        <label id="clickMe" class="text-white" style="display: none; text-align: center;">Click Me!</label>
        <img id="imageToShowForm" src="~/images/smiley2.gif" style="display: block; width: 100%; height: auto; cursor: pointer;" onmouseenter="onMouseOver()" />
        <img id="hoverImg" src="~/images/uhoh.gif" style="display: none; width: 100%; height: auto;" onmouseleave="onMouseOut()" onclick="showForm()" />
    </div>

    <form id="hiddenForm" method="post" style="display: none;">
        <label class="text-center text-white">Choose a color:</label>
        <button type="button" value="blue" style="background-color: deepskyblue" onclick="changeColor(this)">Blue</button>
        <button type="button" value="pink" style="background-color: hotpink" onclick="changeColor(this)">Pink</button>
        <button type="button" value="green" style="background-color: greenyellow" onclick="changeColor(this)">Green</button>
        <button type="button" value="red" style="background-color: red" onclick="changeColor(this)">Black/Red</button>
        <button type="button" value="gray" style="background-color: gray" onclick="changeColor(this)">Gray</button>
    </form>

    <footer class="border-top footer text-center" id="footer" style="background-color: #343a40; color: white;">
        <div class="container">
            &copy; 2024 - VideoGameGrade
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)

    <script>
        function onMouseOver() {
            var imgToShowForm = document.getElementById("imageToShowForm");
            var hoverImg = document.getElementById("hoverImg");
            var clickMe = document.getElementById("clickMe");
            imgToShowForm.style.display = "none";
            hoverImg.style.display = "block";
            clickMe.style.display = "block";
        }
        function onMouseOut() {
            var imgToShowForm = document.getElementById("imageToShowForm");
            var hoverImg = document.getElementById("hoverImg");
            var clickMe = document.getElementById("clickMe");
            imgToShowForm.style.display = "block";
            hoverImg.style.display = "none";
            clickMe.style.display = "none";
        }

        function showForm() {
            var form = document.getElementById("hiddenForm");
            if (form.style.display == "none") {
                form.style.display = "block";
            } else {
                form.style.display = "none";
            }
        }

        // Retrieve the color from localStorage
        var currentColor = localStorage.getItem('toggleColor');
        var currentBody = localStorage.getItem('toggleColorBody');

        function changeColor(button) {
            var nav = document.getElementById("nav");
            var footer = document.getElementById("footer");
            var body = document.getElementById("body");
            var color = button.value;

            if (color == "blue") {
                body.style.backgroundColor = "#1E91D6";
                footer.style.backgroundColor = "blue";
                nav.style.backgroundColor = "blue";
                currentBody = "#1E91D6";
                currentColor = "blue";
            } else if (color == "pink") {
                body.style.backgroundColor = "#E28DA8";
                footer.style.backgroundColor = "#CC3363";
                nav.style.backgroundColor = "#CC3363";
                currentBody = "#E28DA8";
                currentColor = "#CC3363";
            } else if (color == "green") {
                body.style.backgroundColor = "#23580E";
                footer.style.backgroundColor = "#153508";
                nav.style.backgroundColor = "#153508";
                currentColor = "#153508";
                currentBody = "#23580E";
            } else if (color == "red") {
                body.style.backgroundColor = "#141414";
                footer.style.backgroundColor = "#FB350E";
                nav.style.backgroundColor = "#FB350E";
                currentColor = "#FB350E";
                currentBody = "#141414";
            } else if (color == "gray") {
                body.style.backgroundColor = "#26262C";
                footer.style.backgroundColor = "#343a40";
                nav.style.backgroundColor = "#343a40";
                currentColor = "#343a40";
                currentBody = "#26262C";
            }

            // Update localStorage with the current color
            localStorage.setItem('toggleColor', currentColor);
            localStorage.setItem('toggleColorBody', currentBody);

        }


        // Set the initial background color of the nav, body, and footer elements
        var nav = document.getElementById("nav");
        nav.style.backgroundColor = currentColor || "#343a40";

        var footer = document.getElementById("footer");
        footer.style.backgroundColor = currentColor || "#343a40";

        var body = document.getElementById("body");
        body.style.backgroundColor = currentBody || "#26262C";

    </script>

</body>
</html>