body, html {
    background-color: #212529; /* Background color */
    color: #f8f9fa; /* Text Color */
    min-height: 100%;
    position: relative;
    font-size: 16px;
}

.navbar {
    background-color: #343a40; /* Navbar Color */
    border-bottom: 1px solid #495057;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

    .navbar-nav .nav-link, .navbar-brand {
        color: #f8f9fa; /* Navbar color */
        text-align: center;
        white-space: normal;
        word-break: break-all;
    }

.footer {
    background-color: #343a40; /* Footer Color */
    color: #f8f9fa; /* Footer text color */
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 60px;
}

.btn-primary, .btn-dark, button.accept-policy {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-dark, button.accept-policy {
    background-color: #6c757d;
    border-color: #6c757d;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #007bff;
    border-color: #0056b3;
}

a, a.navbar-brand, .nav-link {
    color: #39AFF2;
    text-decoration: none;
}

    a:hover, a:active {
        color: #67C7F3;
    }

.form-control {
    background-color: #495057;
    color: #f8f9fa;
}

    .btn:focus, .form-control:focus {
        box-shadow: 0 0 0 0.2rem rgba(13, 110, 253, 0.25);
    }

.border-top, .border-bottom {
    border-color: #dee2e6;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .25);
}

.tooltip .tooltip-inner, .popover {
    background-color: #495057;
    color: #f8f9fa;
}

.tooltip .arrow::before {
    border-color: #495057;
}


.text-light {
    color: #f8f9fa !important;
}
